*{
	border-box: box-sizing;
}
body, html{
	width: 100%;
	height: 100%;
}

a{
	text-decoration: none;
	color: inherit;
}
h2, h3 {
	text-align: center;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: $dark-green;
	margin-bottom: 0;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	color: $green;
	margin: 0;
}

.btn{
	border: none;
}
.p_description {
	font-family: $cardo;
	font-size: 17px;
	font-style: italic;
	text-align: center;
}

// header {
// 	height: 100%;
// 	@include flexRow();
// 	justify-content: flex-end;
// 	button:first-child {
// 		margin-right: 13px;
// 	}
// 	.btn {
// 		padding: 16px 61px;
// 		font-size: 13px;
// 		letter-spacing: 1px;
// 	}
// }

.section_presentation {
	// @include flexColumn();
	.btn_carte {
		padding: 25px 80px;
		font-size: 16px;
		font-weight: bold;

	}
}


.btn {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

.btn_blue {
	background-color: $blue;	
}

.btn_green  {
	background-color: $green;
}

