.footer {
    position: relative;
    width: 100%;
    height: 395px;
    background: url('../img/footer_bkg.jpg') no-repeat;
    background-size: cover;
    margin-top: 5em;
    font-family: $montserrat;
    box-shadow: 10px 0 14px rgba(0,0,0,.2);
    .footer_content {
        display: flex;
        flex-direction: column;
        padding-top: 2em;
        width: 35%;
        margin-left: 5%;
        .footer_txt {
            font-size: 20px;
            text-transform: uppercase;
            line-height: 25px;
            strong {
                color: $blueGreen;
            }
            &.newsFollow {
                margin: 1.5em 0;
                font-family: $cardo;
                font-style: italic;
                font-size: 18px;
                color: $green;
                font-weight: bold;
                text-transform: initial;
            }
        }
        .timeline_footer_form {
            margin-bottom: 2em;
            input {
                padding: 10px 30px;
                border: none;
                box-shadow: 0px 2px 5px rgba(0,0,0,.2);
                outline: none;
                transition : 0.3s;
                &:hover{
                	box-shadow: none;
                }
            }
        }
        .followUs {
            font-size: 18px;
            line-height: 29px;
        }
        .timeline_footer_socialList {
        	margin-top: 1em;
            .timeline_footer_socialList_item {
                display: inline;
                margin: 0 20px;
                cursor: pointer;
            }
        }
        .timeline_footer_mentions {
            position: absolute;
            bottom: 10px;
            left: 5%;
            color: $black;
            font-size: 12px;
        }
    }
}
