.fakeNav{
	position: fixed;
	right:0;
	top: 30%;
	background: red;
	li{
		display:block;
	}
}

.nav {
	position: fixed;
	right: 35px;
	top: 35px;
	@include flexRow();
	justify-content: flex-end;
	a:first-child {
		margin-right: 13px;
	}
	.btn {
		padding: 16px 61px;
		font-size: 13px;
		letter-spacing: 1px;
	}
}