.timeline {
    width: 100%;
    padding-top: 3.5em;
    .timeline_head {
        background: url('../img/header-Timeline.jpg') no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        height: 345px;
        // background-attachment : fixed;
        .timeline_title {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .timeline_title_logo {
                margin: 1em auto;
                width: 100px;
            }
            .timeline_title {
                font-size: 2rem;
                margin: 26px auto 8px;
                color: $black;
            }
            .timeline_title_week {
                font-size: 1.7rem;
                font-family: $montserrat;
                color: $black;
                margin-top: 3px;
            }
        }
    }
    .timeline_desc {
        font-size: 1.1rem;
        margin: 1em auto;
        text-align: center;
        width: 45%;
        line-height: 27px;
        font-style: italic;
        color: $black;
        font-family: $cardo;
    }
    .timeline_content {
        margin-top: 4em;
        .timeline_content_list {
            .timeline_content_list_item {
                display: flex;
                flex-direction: row;
                margin-top: -5px;
                &:nth-child(even) {
                    flex-direction: row-reverse;
                    margin-top: -140px;
                    .timeline_content_list_item_menusContent {
                        width: 49.85%;
                    }
                    .timeline_content_day {
                        margin-right: 2em;
                        margin-left: 0;
                    }
                }
                .timeline_content_list_item_menusContent {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 50%;
                    .timeline_content_list_item_menus {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        padding-bottom: 40px;
                        align-items: center;
                        width: 40%;
                        float: left;
                        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                        img {
                            width: 105%;
                            box-shadow: 0 3px 5px rgba(0,0,0,0.2);
                        }
                        h4 {
                            display: inline;
                            text-align: center;
                            font-size: 1rem;
                            line-height: 22px;
                            color: rgba(0, 0, 0, .7);
                            margin: 0.5em auto 0.3em;
                            text-transform: uppercase;
                            font-weight: bold;
                            color: $black;
                            font-family: $montserrat;
                        }
                        h3 {
                            display: inline;
                            font-size: 1rem;
                            line-height: 20px;
                        }
                        p {
                            display: inline;
                            width: 80%;
                            margin-top: 1em;
                            font-family: $cardo;
                            color: $black;
                            font-style: italic;
                            line-height: 19px;
                            font-size: 13px;
                            text-align: center;
                        }
                        .timeline_content_list_item_btn {
                            position: absolute;
                            bottom: -15px;
                            width: 80%;
                            background: $blue;
                            padding: 8px 20px;
                            color: #fff;
                            font-size: 1rem;
                            text-align: center;
                            text-transform: uppercase;
                            border-radius: 0;
                            cursor: pointer;
                            transition: 0.3s;
                            &:hover{
                            	background: $blueGreenHover;
                            }
                        }
                    }
                }
                .timeline_content_stripe {
                    position: relative;
                    width: 2px;
                    height: auto;
                    background: $blue;
                    &::before,
                    &::after {
                        visibility: hidden;
                        content: '';
                        position: absolute;
                        background: #368e8c; //Darkblue
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        left: -5px;
                    }
                    &.first {
                        &::before {
                            top: -5px;
                            visibility: visible;
                        }
                    }
                    &.last {
                        &::after {
                            bottom: -5px;
                            visibility: visible;
                        }
                    }
                    .timeline_content_stripe_round {
                        position: absolute;
                        background: #368e8c; //Darkblue
                        width: 7px;
                        height: 7px;
                        border-radius: 100%;
                        left: -15px;
                        top: 46%;
                        border: 15px solid #C1DFE0;
                    }
                }
                .timeline_content_dayContent {
                    display: flex;
                    align-items: center;
                    margin-left: 2em;
                    .timeline_content_day {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.continueShopping {
    width: 170px;
    height: 35px;
    background: #81a352;
    position: fixed;
    bottom: 92px;
    right: 54px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3px;
    font-family: $montserrat;
    text-transform: uppercase;
}

.infoCart {
    width: 209px;
    background: #242424;
    bottom: 50px;
    font-size: 13px;
    height: 35px;
    position: fixed;
    right: 54px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 3px;
    font-family: $montserrat;
    
    .cartCompt, .cartPlural {
        margin-right: 4px; 
    }
}